<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Create Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/charts/angular-chart.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/signin.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-controller="newProfileController">
    <div class="container">
      <!-- User Private Information -->
      <form name="account" class="form-signin" ng-if="showUserInfo">
        <h2 class="form-signin-heading">Account Information</h2>
        <label for="inputNameF" class="sr-only">First Name</label>
        <input type="name" name="inputNameF" id="inputNameF" class="form-control" placeholder="First Name" ng-model="accountInfo.first" required autofocus>

        <label for="inputNameL" class="sr-only">Last Name</label>
        <input type="name" id="inputNameL" class="form-control" placeholder="Last Name" ng-model="accountInfo.last" required autofocus>

        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email Address" ng-model="accountInfo.email" required autofocus>
        <div role="alert">
          <span style="color:red" class="error" ng-show="account.inputEmail.$invalid && account.inputEmail.$touched">
            *Please enter a valid email address</span>
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" minlength=7 id="inputPassword" class="form-control" placeholder="Password (at least 7 characters)" ng-model="accountInfo.password" required>
        <div role="alert">
          <span style="color:red" class="error" ng-show="account.inputPassword.$invalid && account.inputPassword.$touched">
            *Passwords must be at least 7 characters in length</span>
        </div>

        <label><input type="checkbox" ng-model="accountInfo.pleaseNotify">Keep me posted on opportunities to participate in research.</label>

        <button ng-disabled="account.$invalid" class="btn btn-lg btn-primary btn-block" type="submit" ng-click="create(accountInfo)">Submit</button>
        <br>
        <a href="/auth">Already have an account?</a>

      </form>

   </div> <!-- /container -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/factories/UsersAPI.js"></script>
    <script src="javascripts/controllers/newProfileController.js"></script>
  </body>
    <script src="/otherCharts/Chart.min.js"></script> 
  <script src="/charts/angular-chart.min.js"></script>
</html>
