<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Basic Info</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/charts/angular-chart.css">

    <!-- Custom styles for this template -->
    <link href="stylesheets/signin.css" rel="stylesheet">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-controller="demographicsController">
    <div class="container">
      <!-- Training Information -->
      <form name="training" class="form-signin" >
        <h2 class="form-signin-heading">Training Information</h2>

        <div class="training-item row">
          <h5 class="col-md-8">How many miles do you run per week?</h5>
          <label for="inputMiPerWeek" class="sr-only">Miles Per Week</label>
          <input type="Number" id="inputMiPerWeek" min="0" class="form-control train col-md-4" placeholder="Miles" ng-model="trainingInfo.milesPerWeek" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">How many days do you run in a week?</h5>
          <label for="inputDaysPerWeek" class="sr-only">Days Per Week</label>
          <input type="Number" id="inputDaysPerWeek" min="0" max="7" class="form-control train col-md-4" placeholder="Days" ng-model="trainingInfo.daysPerWeek" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">How many years have you been running?</h5>
          <label for="inputYearsRunning" class="sr-only">Years Running</label>
          <input type="Number" id="inputYearsRunning" min="0" class="form-control train col-md-4" placeholder="Years" ng-model="trainingInfo.yearsRunning" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">In miles, how long was your longest training run?</h5>
          <label for="inputLongestTrainingRun" class="sr-only">Longest Training Run</label>
          <input type="Number" id="inputLongestTrainingRun" min="0" class="form-control train col-md-4" placeholder="Miles" ng-model="trainingInfo.longestTrainingRun" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">What percent of your total training time is done alone?</h5>
          <label for="inputTrainingTimeAlone" class="sr-only">Training Time Alone</label>
          <input type="Number" id="inputTrainingTimeAlone" min="0" max="100" class="form-control train col-md-4" placeholder="Percent" ng-model="trainingInfo.timeTrainingAlone" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">Do you ever train twice in a day?</h5>
          <label for="inputTwoPerDay" class="sr-only">Train twice per day</label>
          <select id="inputTwoPerDay" class="form-control train col-md-4" ng-model="trainingInfo.trainTwicePerDay" required>
            <option value="" style="display:none;"> </option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
	
        <div class="training-item row">
          <h5 class="col-md-8">How many half-marathons have you completed in the past?</h5>
          <label for="inputHalfMarathons" class="sr-only">Previous Half Marathons</label>
          <input type="Number" id="inputHalfMarathons" min="0" class="form-control train col-md-4" ng-model="trainingInfo.halfMarathonsRun" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">How many marathons have you completed in the past?</h5>
          <label for="inputMarathons" class="sr-only">Previous Marathons</label>
          <input type="Number" id="inputMarathons" min="0" class="form-control train col-md-4" ng-model="trainingInfo.marathonsRun" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">How many ultra-marathons have you completed in the past?</h5>
          <label for="inputUltraMarathons" class="sr-only">Previous Ultra Marathons</label>
          <input type="Number" id="inputUltraMarathons" min="0" class="form-control train col-md-4" ng-model="trainingInfo.ultraMarathonsRun" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">What is your best marathon completion time?</h5>
          <label for="inputFastestMarathonHours" class="sr-only">Fastest Marathon</label>
          <input type="Number" id="inputFastestMarathonHours" min="0" class="form-control train col-md-4" placeholder="Hours" ng-model="trainingInfo.fastestMarathonHours" required>
          <br>
          <label for="inputFastestMarathonMinutes" class="sr-only">Fastest Marathon</label>
          <input type="Number" id="inputFastestMarathonMinutes" min="0" max="60" class="form-control train col-md-4" placeholder="Minutes" ng-model="trainingInfo.fastestMarathonMinutes" required>
          <br>
          <label for="inputFastestMarathonSeconds" class="sr-only">Fastest Marathon</label>
          <input type="Number" id="inputFastestMarathonSeconds" min="0" max="60" class="form-control train col-md-4 col-md-offset-8" placeholder="Seconds" ng-model="trainingInfo.fastestMarathonSeconds" required>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">Have you ever had a running related injury?</h5>
          <label for="inputSustainedInjury" class="sr-only">Sustained Injury</label>
          <select id="inputSustainedInjury" class="form-control train col-md-4" ng-model="trainingInfo.runningRelatedInjury" required>
            <option value="" style="display:none;"> </option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>

        <div class="training-item row">
          <h5 class="col-md-8">Have you ever run while injured?</h5>
          <label for="inputTrainedInjury" class="sr-only">Trained Injury</label>
          <select id="inputTrainedInjury" class="form-control train col-md-4" ng-model="trainingInfo.trainedWhileInjured" required>
            <option value="" style="display:none;"> </option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
            
        <!-- submit button -->
        <button ng-disabled="training.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="storeTrainingInfo(trainingInfo)" type="submit">{{buttonName}}</button>
      </form>
    </div> <!-- /container -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/factories/UsersAPI.js"></script>
    <script src="javascripts/controllers/demographicsController.js"></script>     
  </body>
    <script src="/otherCharts/Chart.min.js"></script>
    <script src="/charts/angular-chart.min.js"></script>

</html>
